@charset "utf-8";

@import url('//pro.fontawesome.com/releases/v5.15.4/css/all.css');

@import url('//fonts.googleapis.com/css?family=Inter:400,700|JetBrains+Mono');
$family-sans-serif: "Inter", sans-serif;
$family-monospace: "JetBrains Mono", monospace;

$orange: #965027;
$yellow: #8f5e15;
$green: #485e30;
$turquoise: #33635c;
$cyan: #166775;
$blue: #34548a;
$purple: #5a4a78;
$red: #8c4351;

$primary: $purple;

@import "../node_modules/bulma/bulma.sass";

.icon-text {
  display: inline-block;
}

@keyframes slide-in {
  0% {
  opacity: 0;
  transform: translateY(200px);
}
  100% {
  opacity: 1;
  transform: none;
}
}

@keyframes navbar-drop {
  0%   {
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
}
  100% {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: auto;
}
}

.navbar {
  animation-name: navbar-drop;
  animation-duration: .2s;
}
