@charset "utf-8";

@import url('//pro.fontawesome.com/releases/v5.15.4/css/all.css');

@import url('//fonts.googleapis.com/css?family=Poppins:400,700|Space+Mono');
$family-sans-serif: "Poppins", sans-serif;
$family-monospace: "Space Mono", monospace;

$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$turquoise: #1abc9c;
$cyan: #7dcfff;
$blue: #7aa2f7;
$purple: #9d7cd8;
$red: #f7768e;

$primary: $orange;

@import "../node_modules/bulma/bulma.sass";

.icon-text {
  display: inline-block;
}
