{:nrepl {:port 8777}

 :jvm-opts ["-Xmx1G"]

 :source-paths ["src"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]

  [metosin/reitit-frontend "0.5.15"]

  [binaryage/devtools "1.0.4"]
  [cider/cider-nrepl "0.28.1"]]

 :dev-http
 {8280 "./"}

 :builds
 {:app
  {:target     :browser
   :output-dir "out/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn github-page.core/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines
     {}}}}}}
