{:nrepl {:port 8777}

 :jvm-opts ["-Xmx1G"]

 :source-paths ["src"]

 :dependencies
 [[metosin/reitit-frontend "0.5.18"]
  [lilactown/helix "0.1.6"]
  [cljs-ajax "0.8.4"]

  [cider/cider-nrepl "0.28.4"]]

 :dev-http
 {8280 "./"}

 :builds
 {:app
  {:target     :browser
   :output-dir "out/js"
   :asset-path "/js"
   :modules
   {:app {:init-fn github-page.core/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines {}
     :output-feature-set :es6}}}}}
